<link rel="stylesheet" type="text/css" href="/style/books.css" />
<body >
    <div class="addbookbody">

        <h2 class="formname">Added book form</h2>
        <div class="addedbook">
        <div>
            <label for="ISBN">ISBN</label><br />
        <input
          type="number"
          class="to-fill"
          placeholder="ISBN"
          name="ISBN"
        /><br />
        <label for="title">Title</label><br />
        <input
          type="text"
          class="to-fill"
          placeholder="Title"
          name="title"
        /><br />
        <label for="subtitle">subTitle</label><br />
        <input
          type="text"
          class="to-fill"
          placeholder="subtitle"
          name="subtitle"
        /><br />
        <label for="author">Author</label><br />
        <input
          type="text"
          class="to-fill"
          placeholder="Author"
          name="author"
        /><br />
        <label for="published">Published</label><br />
        <input
          type="datetime"
          class="to-fill"
          placeholder="published-date"
          name="published"
        /><br />
        <label for="publisher">Publisher</label><br />
        <input
          type="text"
          class="to-fill"
          placeholder="publisher"
          name="publisher"
        /><br />
        </div>
       
        <div>
            <label for="pages">Pages</label><br />
        <input
          type="number"
          class="to-fill"
          placeholder="pages"
          name="pages"
        /><br />
        <label for="website">Website</label><br />
        <input
          type="text"
          class="to-fill"
          placeholder="website"
          name="website"
        /><br />
        <label for="image">Book image</label><br />
        <input
          id="image-file"
          type="file"
          class="to-fill"
          name="image"
        /><br />
        <label for="bio">Description</label><br />
        <textarea
          name="description"
          class="to-fill area"
          placeholder="description"
          id="bio"
        ></textarea> <br/>
        <button type="submit" class="footer-btn">Submit</button>
        </div>
    </div>
    
  </form>
  </div>
</body>
